/* @group basics */

* {
  padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

html, body {
}

body {
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #848484;
}


h1 {
  font-size: 41px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

h2 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #848484;
}

/* @end */

/* @group header */

#header {
  height: 50px;
  background-image: url(../images/header.png);
  line-height: 38px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#about {
  width: 950px;
  padding: 80px 0 59px;
  margin: 0 auto;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

#about h1 {
  margin-bottom: 4px;
  margin-top: 2px;
}

#about h2 {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 14px;
}

#story {
  font-size: 18px;
  line-height: 30px;
  width: 390px;
  float: left;
  padding-right: 90px;
}

#picture {
  width: 190px;
  float: left;
}

/* @group section */

.section {
  width: 950px;
  margin: 0 auto;
  padding: 20px 0;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

.section h2 {
  width: 160px;
  padding-right: 30px;
  float: left;
  padding-top: 0;
  line-height: 22px;
}


.section .item {
  width: 710px;
  padding-left: 50px;
  float: right;
  padding-top: 0;
  margin-bottom: 9px;
  position: relative;
  padding-bottom: 5px;
  background: url(../images/separator.png) no-repeat 0 bottom;
    top: 0px;
    left: 0px;
}

/* @end */



